body{
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

h1{
  font-size: 50px;
  font-weight: normal;
  color: white;
}

a{
  color: aquamarine;
  font-size: 16px;
}

.subtitles{
  font-weight: 300;
  font-size: 42px;
  font-family: Verdana;
  color: white;
}

#description{
  font-size: 21px;
  font-weight: normal;
  font-family: Verdana;
  color: grey;
}

#copyright{
  font-family: Verdana;
  text-align: right;
  color: grey;
}
